<html>
<head>
    <link rel="stylesheet" href="views/app.css">
</head>
<body>
    <div class="back"> <h1 style="display: flex; justify-content:center;">Log in</h1>
    <form action="/user" method="post" >
       
        <div class="input-field">
            <input type="text" name="username" id="username" placeholder="Enter Username">
        </div>
        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Enter Password">
        </div>
        <div style="color:red; ">{{message}}</div>
        <input type="submit" value="submit">
    </form>
    </div>
</body>
</html>